@model IEnumerable<WeatherArchives.Models.WeatherRecord>

@{
    ViewData["Title"] = "Архив погодных условий";
}

<h2>Архив погодных условий</h2>

<form method="get">
    <label>Год:</label>
    <input type="number" name="year" value="@Context.Request.Query["year"]" />
    <label>Месяц:</label>
    <input type="number" name="month" value="@Context.Request.Query["month"]" min="1" max="12" />
    <button type="submit">Фильтр</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Температура</th>
            <th>Влажность</th>
            <th>Точка росы</th>
            <th>Атм. давление</th>
            <th>Направление ветра</th>
            <th>Скорость ветра</th>
            <th>Облачность</th>
            <th>Нижн. гр. облачности</th>
            <th>Горизонт. видимость</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Temperature</td>
                <td>@item.Humidity</td>
                <td>@item.Td</td>
                <td>@item.AirPressure</td>
                <td>@item.WindDirection</td>
                <td>@item.WindSpeed</td>
                <td>@item.Clouds</td>
                <td>@item.H</td>
                <td>@item.VV</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>
